*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.dashboard--box{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
    position:relative;
    background-color:rgb(201, 217, 236);
}

.dashboard--username{
    padding:40px 50px 40px 50px;
    border-radius:25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logout--btn{
    position:absolute;
    top:10px;
    right:10px;
    width:100px;
    background-color:red;
    color:white;
}