*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.resister--box {
    width: 400px;
    height: 450px;
    background-color: transparent;
    border:2px solid rgb(255 , 255 , 255 ,.5);
    backdrop-filter:blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.login--btn--box{
  color:white;
  display:flex;
  justify-content:center;
  gap:5px;
}

.login--btn{
    font-weight: 600;
    cursor:pointer;
}

.login--btn:hover{
    text-decoration: underline;
}